/* Default css file for jemdoc. */

table#tlayout {
    border: none;
    border-collapse: separate;
    background: white;
}
/*
body {
	background: white;
	padding-bottom: 8px;
	margin: 0;
}
*/
html {
  background-color: #eeeeee; 
}

body { 
  font-family: Georgia, Helvetica, Arial, Verdana, san-serif, Times;
  color: #000;
  background-color: #ffffff; 
  text-align:left; /* for IE */
  margin-top: 30px; 
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left:  50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
  max-width: 1020px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

#layout-menu {
	background: #f6f6f6;
	border: 1px solid #dddddd;
	padding-top: 0.5em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 1.0em;
	width: auto;
	white-space: nowrap;
    text-align: left;
    vertical-align: top;
}

#layout-menu td {
	background: #f4f4f4;
    vertical-align: top;
}

#layout-content {
	padding-top: 0.0em;
	padding-left: 1.0em;
	padding-right: 1.0em;
    border: none;
    background: white;
    text-align: left;
    vertical-align: top;
}

#layout-menu a {
	line-height: 1.5em;
	margin-left: 0.5em;
}

tt {
    background: #ffffdd;
}

pre, tt {
	font-size: 90%;
	font-family: monaco, monospace;
}

a, a > tt {
	color: #224b8d;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px gray dotted;
}

#layout-menu a.current:link, #layout-menu a.current:visited {
	color: #022b6d;
	border-bottom: 1px gray solid;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	color: #527bbd;
	text-decoration: none;
}
#layout-menu a:hover {
	text-decoration: none;
}

div.menu-category {
	border-bottom: 1px solid gray;
	margin-top: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	font-weight: bold;
}

div.menu-item {
	padding-left: 16px;
	text-indent: -16px;
}

div#toptitle {
	padding-bottom: 0.2em;
	margin-bottom: 1.5em;
	/*border-bottom: 3px double gray;*/
}

/* Reduce space if we begin the page with a title. */
div#toptitle + h2, div#toptitle + h3 {
	margin-top: -20px;
}

div#subtitle {
	margin-top: 0.0em;
	margin-bottom: 0.0em;
	padding-top: 0em;
	padding-bottom: 0.1em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


h1, h2, h3 {
	color: #000000;
	margin-top: 0.7em;
	margin-bottom: 0.5em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	border-bottom: 1px solid #aaaaaa;
}

h1 {
	font-size: 165%;
	padding-bottom: 0.3em;
}

h2 {
	padding-top: 0.8em;
	font-size: 125%;
}

h2 + h3 {
    padding-top: 0.2em;
}

h3 {
	font-size: 110%;
	border-bottom: none;
}

p {
	margin-top: 0.0em;
	margin-bottom: 0.8em;
	padding: 0;
	line-height: 1.3;
    text-align: justify;
}

pre {
	padding: 0;
	margin: 0;
}

div#footer {
	font-size: small;
	border-top: 1px solid #c0c0c0;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #c0c0c0;
}

div#footer a {
	color: #80a0b0;
}

div#footer-text {
	float: left;
	padding-bottom: 8px;
}

ul, ol, dl {
	margin-top: 0.2em;
	padding-top: 0;
	margin-bottom: 0.8em;
}

.show_button {
	margin-top: 0.9em;
	margin-left: 15px;
}

dt {
	margin-top: 0.5em;
	margin-bottom: 0;
}

dl {
	margin-left: 20px;
}

dd {
	color: #222222;
}

dd > *:first-child {
	margin-top: 0;
}

ul {
	list-style-position: outside;
	list-style-type: square;
	padding-left: 15px;
}

ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul li div.marker {
	display: flex;
	/* align-items: center; */
}

ul li div.marker::before {
	content: "\25A0";
	font-size: 12px;
	padding-right: 10px;
	transform: translateY(5%);
}

p + ul, p + ol {
	margin-top: -0.5em;
}

li {
	margin-top:0.9em;
}

ol {
	list-style-position: outside;
	list-style-type: decimal;
}

li p, dd p {
	margin-bottom: 0.3em;
}


ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

p + div.codeblock {
	margin-top: -0.6em;
}

div.codeblock, div.infoblock {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1.3em;
}

div.blocktitle {
	font-weight: bold;
	color: #cd7b62;
	margin-top: 1.2em;
	margin-bottom: 0.1em;
}

div.blockcontent {
	border: 1px solid silver;
	padding: 0.3em 0.5em;
}

div.infoblock > div.blockcontent {
	background: #ffffee;
}

div.blockcontent p + ul, div.blockcontent p + ol {
	margin-top: 0.4em;
}

div.infoblock p {
	margin-bottom: 0em;
}

div.infoblock li p, div.infoblock dd p {
	margin-bottom: 0.5em;
}

div.infoblock p + p {
	margin-top: 0.8em;
}

div.codeblock > div.blockcontent {
	background: #f6f6f6;
}

span.pycommand {
	color: #000070;
}

span.statement {
	color: #008800;
}
span.builtin {
	color: #000088;
}
span.special {
	color: #990000;
}
span.operator {
	color: #880000;
}
span.error {
	color: #aa0000;
}
span.comment, span.comment > *, span.string, span.string > * {
	color: #606060;
}

@media print {
	#layout-menu { display: none; }
}

#fwtitle {
	margin: 2px;
}

#fwtitle #toptitle {
	padding-left: 0.5em;
	margin-bottom: 0.5em;
}

#layout-content h1:first-child, #layout-content h2:first-child, #layout-content h3:first-child {
	margin-top: -0.7em;
}

div#toptitle h1, #layout-content div#toptitle h1 {
	margin-bottom: 0.0em;
	padding-bottom: 0.1em;
	padding-top: 0;
	margin-top: 0.5em;
	border-bottom: none;
}

img.eq {
	padding: 0;
	padding-left: 0.1em;
	padding-right: 0.1em;
	margin: 0;
}

img.eqwl {
	padding-left: 2em;
	padding-top: 0.6em;
	padding-bottom: 0.2em;
	margin: 0;
}

table + table {
    margin-top: 1em;
}

tr.heading {
    font-weight: bold;
    border-bottom: 2px solid black;
}

img {
    border: none;
}

table.imgtable, table.imgtable td {
    border: none;
    text-align: left;
}

.publication_container {
	padding: 6px;
	flex-direction: row;
	display: flex;
	/* min-height: 88px; */
	margin-bottom: 5px;
}

.publication_image {
	box-shadow: 0px 0px 0px 1.5px rgba(0,0,0,0.18);
	border-radius: 6px;
	width: 170px;
	min-width: 170px;
	height: 72px;
	margin-right: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	/* border: 1px solid #f0f0f0; */
	position: relative;
	overflow: hidden;
}

.publication_image img {
	border-radius: 2px; 
	max-width: 90%;
	max-height: 90%;
	object-fit: contain;
	padding: 2px;
	background: #fff;
	box-sizing: content-box;
}

.publication_title {
	margin-left: 15px;
	margin-bottom: 3.5px;
}

.newline_bg {
    /* background: url(heading_bg.png) repeat-x 0 7px; */
    margin-bottom: 5px;
    margin-top: 20px;
}

sup {
    line-height: 0.5em;
}

.corresponding {
	font-family: "Times";
}

.research_tab {
	flex: 1;
	/* flex-grow: 1; */
	text-align: center; /* 文字居中 */
	cursor: pointer;
	padding: 10px 10px;
	margin: 1px;
	background-color: #f0f0f0;
	border: 2px solid #c0c0c0;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s;
}

.research_tab:hover {
	background-color: #e0e0e0;
}

.highlight_research_tab {
	color: white;
	font-weight: bold;
	flex: 1;
	/* flex-grow: 1; */
	text-align: center; /* 文字居中 */
	cursor: pointer;
	padding: 10px 10px;
	margin: 1px;
	background-color: #5F6F52;
	border: 2px solid #d6d2d2;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s;
}

.research_picture {
	width: calc(100% - 1px);
	margin: 1px;
	margin-top: 10px;
}

.research_progress {
	margin-top: 5px;
}

.progress_button {
	margin-left: 1px;
	/* flex: 1; */
}

.goal_tab {
	flex: 1;
	/* flex-grow: 1; */
	text-align: center; /* 文字居中 */
	cursor: pointer;
	padding: 5px 5px;
	margin: 1px;
	margin-bottom: 10px;
	background-color: #f0f0f0;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s;
}

.goal_tab:hover {
	background-color: #e0e0e0;
}

.highlight_goal_tab {
	flex: 1;
	color: white;
	font-weight: bold;
	/* flex-grow: 1; */
	text-align: center; /* 文字居中 */
	cursor: pointer;
	padding: 5px 5px;
	margin: 1px;
	margin-bottom: 10px;
	background-color: #B99470;
	border: 1px solid #d6d2d2;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s;
}
