---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}
Tags: 
{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <a href="https://liushunyu.github.io/tags/#{{ tag }}" target="_blank"> &nbsp&nbsp {{ tag }} &nbsp&nbsp | </a>
{% endfor %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}