---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}
<p style="line-height: 200%;">Tags: 
{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <font style="line-height:2;"><button style="border-radius: 10px; border: none; background-color: #F8F8F8;"><a href="https://liushunyu.github.io/tags/#{{ tag }}" target="_blank" style="text-decoration: none"> {{ tag }}</a></button></font> &nbsp;
{% endfor %}
</p>
{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}