---
layout: archive-no-sidebar
permalink: /year-archive/
title: "Blog Posts"
author_profile: false
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

{% include group-by-array collection=site.posts field="tags" %}
<p style="line-height: 200%;">Tags: 
{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <font style="line-height:2;"><button style="border-radius: 10px; border: none; background-color: #F8F8F8;"><a href="https://liushunyu.github.io/tags/#{{ tag }}" target="_blank" style="text-decoration: none"> {{ tag }}</a></button></font> &nbsp;
{% endfor %}
</p>

{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
